* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.register-card {
  display: flex;
  width: 900px;
  max-width: 95%;
  border-radius: 20px;
  overflow: hidden;
  background: white;
}

.register-left {
  flex: 1;
  background: linear-gradient(to bottom right, #6a5af9, #4f46e5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon {
  position: relative;
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.placeholder {
  color: white;
  font-size: 14px;
}

.plus {
  position: absolute;
  right: -10px;
  bottom: -10px;
  background: white;
  color: #4f46e5;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.register-right {
  flex: 1;
  padding: 40px;
  background: whitesmoke;
}

.register-right h2 {
  margin-bottom: 5px;
}

.register-right p {
  margin-bottom: 20px;
  color: gray;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-size: 14px;
}

form input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #ddd !important;
  outline: none;
}

form input:focus{
  border: 2px solid #7D73F2 !important;
}

form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #6a5af9, #4f46e5);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  opacity: 0.9;
}

.login-text {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}

.login-text span {
  color: #4f46e5;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {
  .register-card {
    flex-direction: column;
  }


  /* .register-container{
    margin: 100px 0;
  } */

  .icon .circle{
   margin-top: 130px;
  }

  .register-left{
    padding: 30px 0;
  }
}